@using LOWE.Views.Shared;
@using System.Globalization
@using System;
@using System.Collections.Generic;
@using System.Threading;
@model LOWE.Models.MailModels

<!DOCTYPE html>
<html>
<head>


    <meta charset="utf-8">
    <title>LOWE</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/Content/img/favicon.png" rel="icon">
    <link href="~/Content/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->

    <link href="~/Content/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    @* <link href="~/Content/lib/bootstrap/css/bootstrap-arabic.min.css" rel="stylesheet">*@
    <!-- Libraries CSS Files -->
    <link href="~/Content/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Content/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/Content/css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: BizPage
      Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>
<body>
    <!--==========================
      Header
    ============================-->
    <header id="header" style="background-color:black">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
                <a href="#intro"><img src="~/Content/img/logo.png" width="53" height="55" style="margin-top:-15px" alt="" title="" /></a>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#intro"><img src="~/Content/img/logo.png" alt="" title="" /></a>-->
            </div>
            <div id="lang" class="pull-left">
                <nav class="nav-menu" style="padding-left: 60px;">
                    <li class="menu-has-children">
                        <a href="">@SiteResource.Language</a>
                        <ul>

                            <li><a href="/Home/Change_Language?SiteLang=en" onclick="ChangeLang('en')">@SiteResource.EnLang</a></li>
                            <li><a href="/Home/Change_Language?SiteLang=ar" onclick="ChangeLang('ar')">@SiteResource.ArLang</a></li>

                            <li><a href="/Home/Change_Language?SiteLang=de" onclick="ChangeLang('de')">@SiteResource.DeLang</a></li>
                        </ul>

                    </li>
                </nav>
            </div>

            <nav id="nav-menu-container">
                @* <ul class="nav-menu" style="display: flex;direction:rtl;">*@
                <ul class="nav-menu" id="MainNav">
                    <li class="menu-active"><a href="#intro">@SiteResource.Home</a></li>
                    <li><a href="#about">@SiteResource.AboutUs</a></li>
                    <li><a href="#services">@SiteResource.Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#team">Team</a></li>
                    <li class="menu-has-children">
                        <a href="">Drop Down</a>
                        <ul>
                            <li><a href="/home/about">Drop Down 1</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                            <li><a href="#">Drop Down 5</a></li>
                        </ul>
                    </li>
                    <li><a href="#contact">@SiteResource.Contact</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
        <style>
            * {
                font-family: 'dr';
            }
        </style>
    </header>
    <!-- #header -->

    @RenderBody()
    <hr />


    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <a href="#intro"><img src="~/Content/img/logoName.png" width="250" height="55" alt="" title="" /></a>
                        <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">About us</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">Services</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            A108 Adam Street <br>
                            New York, NY 535022<br>
                            United States <br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>

                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>BizPage</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
                -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- #footer -->


</body>
</html>


<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!--Uncomment below i you want to use a preloader-- >
        < !-- < div id="preloader" ></div > -->
                < !--JavaScript Libraries-- >
<script src="~/Content/lib/jquery/jquery.min.js"></script>
<script src="~/Content/lib/jquery/jquery-migrate.min.js"></script>
<script src="~/Content/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/lib/easing/easing.min.js"></script>
<script src="~/Content/lib/superfish/hoverIntent.js"></script>
<script src="~/Content/lib/superfish/superfish.min.js"></script>
<script src="~/Content/lib/wow/wow.min.js"></script>
<script src="~/Content/lib/waypoints/waypoints.min.js"></script>
<script src="~/Content/lib/counterup/counterup.min.js"></script>
<script src="~/Content/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="~/Content/lib/isotope/isotope.pkgd.min.js"></script>
<script src="~/Content/lib/lightbox/js/lightbox.min.js"></script>
<script src="~/Content/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="~/Content/contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="~/Content/js/main.js"></script>

<script>

 if ('@System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName'== 'ar') {
           $("#MainNav").addClass("MainNavLang")
       }
   function ChangeLang(lang) {
       debugger
       if (lang == 'ar') {

            //var lang = 1; if (lang == 1) {
            $("#MainNav").addClass("MainNavLang");
        }
        else {
            $("#MainNav").removeClass("MainNavLang");
        }


        $.ajax({
            url: "/Home/Change_Language?SiteLang=" + lang,
            type: "Get",
            dataType: 'JSON',

            contentType: 'application/json',
            success: function (data) {


            }
        });
        // alert('@System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName')

        }



</script>
<style>


    .fullscreen-bg__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @@media only screen and (min-width: 768px) {
        .MainNavLang {
            direction: rtl;
            display: inline-flex;
        }
    }
</style>

<style>

    @@font-face {
        font-family: 'dr';
        src: url('../../Content/fonts/dr.ttf') format('truetype');
    }

    * {
        font-family: 'dr';
    }

    a, h2, h3, p, h4, h1 {
        font-family: 'dr';
    }
</style>